<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AiScene-OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AiScene.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AiSprite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C73A89D1B0A66E300187A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C73A8B51B0A66E300187A61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C92998A1AE5432000E71811</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C9299A11AE5432100E71811</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C9299F91AE5497800E71811</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C929A0E1AE5497900E71811</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
