<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AiCubo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AiCuboOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MetalView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NSOpenGLView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>OSXView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SceneCubo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SceneIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>load.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>500205DA1ACEA7610085283C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>500205EF1ACEA7620085283C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>503927411AC71B6600A59744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506332041AC5D54C00BB4477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5063320F1AC5D59500BB4477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506332241AC5D59600BB4477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A9D6281ACD4DC900F209E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50A9D63E1ACD4DC900F209E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C2B4F41AC4AA2100AAACF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50C2B50D1AC4AA2100AAACF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C77A2591AD18A33006C008F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C77A26E1AD18A33006C008F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CD1C6601AD4A1C500C659AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CD1C6761AD4A1C600C659AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
